@model Novelle_Hjemmeside.Models.NovelleModel

@{
    ViewBag.Title = "OpretNovelle";
}

<h2>Opret Novelle</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="NovelLabel">
            @Html.LabelFor(model => model.NovelleNavn)
        </div>
        <div class="NovelEditor">
            @Html.EditorFor(model => model.NovelleNavn)
        </div>
        <div class="NovelLabel">
            @Html.LabelFor(model => model.NovelleBeskrivelse)
        </div>
        <div class="NovelEditor">
            @Html.TextAreaFor(model => model.NovelleBeskrivelse)
        </div>
        <div class="NovelLabel">
            <label>Novelle indhold</label>
        </div>
        <form id="form1" method="post">
            <textarea id="mytextarea" name="mytextarea">Skriv her...</textarea>
        </form>

        <input type="submit" value="Opret Novelle" />
    </fieldset>
}


