<!DOCTYPE html>
@{
    Novelle_Hjemmeside.Classes.Database db = new Novelle_Hjemmeside.Classes.Database();
    List<Novelle_Hjemmeside.Models.NovelleModel> RandomNovels = new List<Novelle_Hjemmeside.Models.NovelleModel>();
    RandomNovels = db.Get5RandomNovelle();
    List<Novelle_Hjemmeside.Models.NovelleModel> NewestNovels = new List<Novelle_Hjemmeside.Models.NovelleModel>();
    NewestNovels = db.Get5NyestNoveller();
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/stylesheet.css" rel="stylesheet" />

    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
  tinymce.init({
    selector: '#mytextarea'
  });
    </script>

</head>
<body>
    <div>
        <div class="OuterLayout">
            <div class="InnerLayout">
                <div class="HeaderLayout">
                    <div class="HeaderLogo"></div>
                    <h1 class="HeaderTxt">Websters Noveller</h1>
                </div>
                <div class="LeftMenuLayout MenuBar">
                    @Html.ActionLink("Forside", "Index", "Home")  <br />
                    @Html.ActionLink("Novelle liste", "sted", "Novelle")  <br />
                    @if (Session["login"] == null)
                    {
                        @Html.ActionLink("Registre", "Registre", "Bruger");  <br />
                        @Html.ActionLink("Login", "Login", "Bruger");  <br />
                    }
                    else
                    {
                        @Html.ActionLink("Bruger Info", "Info", "Bruger");  <br />
                        @Html.ActionLink("Logud", "Logout", "Bruger");  <br />
                    }
                </div>
                <div class="ContentWrapper">
                    <div class="InnerContent">
                        @RenderBody()
                    </div>
                </div>
                <div class="RightMenuLayout MenuBar">
                    <div class="RandomNovelsWrapper">
                        <h4 class="MenuHeadings">5 tilfældige</h4>
                        <div class="NovelsBorders">
                            @foreach (var item in RandomNovels)
                            {
                                <p class="NovelListTxt">@item.NovelleNavn</p>
                            }
                        </div>
                    </div>
                    <div class="NewestNovelsWrapper">
                        <h4 class="MenuHeadings">5 nyest</h4>
                        <div class="NovelsBorders">
                            @foreach (var item in NewestNovels)
                            {
                                <p class="NovelListTxt">@item.NovelleNavn</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>